
.anime_detail_total_container{
   color: rgba(255, 255, 255, 0.8);
   padding:  5rem 3rem 3rem 3rem;

}


.anime_detail_container{
    background-color: #111827;
    display:flex;
    width: 100%;
    justify-content: space-around;
    align-items:flex-start;
}


.anime_detail_title{
    margin-bottom: 5rem;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    /* text-decoration: underline; */
    color: rgba(161, 118, 201, 0.959);
}


.anime_detail_box{
    width: 70%;
    font-size: 1.3rem;

}

.anime_detail_description{
    width: 80%;
    margin-top: 0;
    text-align: justify;
}

.anime_detail_title_jap{
    font-size: 2rem;
    font-weight: bold;
}